@charset "UTF-8";

       
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

       
        @font-face{
            font-family: 'idroid';
            src: url('../fontes/idroid.otf') format('opentype');
            font-weight: normal;
        }


        :root{
              --cor0:#c5ebd6;
              --cor1:#83e1ad;
              --cor2:#3ddc84;
              --cor3:#2fa866;
              --cor4:#1a5c37;
              --cor5:#063d1e;

              --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
              --fonte-destaque: 'Bebas Neue', cursive;
              --fonte-android: 'idroid', cursive;
        }

        
        
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            font-family: var(--fonte-padrao);
            background-color: var(--cor0);
            
            /*overflow-x: hidden;*/
            
        }
        
        
        header{
            
           /* 
            padding: 10px;
            margin: 10px -3px 10px 10px;
            */
            background-image: linear-gradient(to bottom, var(--cor3) , var(--cor5));
            color: white;
            text-align: center;
            min-height: 150px;
            padding-top: 50px;
            
        }
        header > h1{
            font-family: var(--fonte-destaque);
            font-weight: normal;
            font-size: 2.6em;
            margin-bottom: 20px;
            text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.493);
            
        }
        header > p{
            font-family: var(--fonte-padrao);
            text-align: center;
            text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.493);
            
        }
        
            
        
        
        nav{
            padding: 10px;
           /* 
           margin: 0px -3px 10px 10px;
           */
            background-color: var(--cor5);
            align-items: left;
        
            
        }
        nav > a{
            text-decoration: none;
            font-weight: bold;
            color: var(--cor0);
            align-items: left;
            margin: 5px;
            font-size: 0.8em;
            padding: 10px;
            border-radius: 5px;

        }

        nav > a:hover{
            background-color: var(--cor3);
            color: var(--cor5);
            transition-duration: 0.5s;
            
            
            

        }

        main{
            background-color: white;
            padding: 20px;
            margin: auto;
            min-width: 300px;
            max-width: 1000px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
           
            
        }
        main img {
            width: 100%;
        }
        main  p{
            font-family: var(--fonte-padrao);
            margin: 10px;
            text-indent: 30px;
            line-height: 1.5em;
            font-size: 1em;
        }

        picture#imagem01{
            margin-left: auto;
            margin-right: auto;
            padding: auto;
        }
        
        
        #bugdroid{
            max-width: 350px;
            display: block;
            margin-left: auto;
            margin-right: auto
           
            
        }
        h1#titulo{
            font-size: 2em;
            color: var(--cor4);
            font-family: var(--fonte-android);
            
        }
        h1{
            margin: 10px;
            font-family: var(--fonte-android);
            font-weight: lighter;
        }
        h2{
            
            margin: 10px;
            color: var(--cor4);
            font-family: var(--fonte-android);
        }
        #video{
            background-color: var(--cor4);
            margin: 20px -20px ;
            padding: 20px;

            position: relative;
            padding-bottom: 56.6%;
            
        }
        div#video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
        /*#videoandroid{
            display: block;
            margin-left: auto;
            margin-right: auto
            
        }
        */
        .imagemcenter{
            
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        #extra{
            border-radius: 11px 10px 0px 0px;
            padding: 10px 10px 10px 10px;
            margin:  10px -10px 10px -10px;
            background-color: #1A5C38;
            color: white;    
            font-weight: bold;
            font-size: 1em;
            
        }
        /*
        #lista{
            border-radius: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #84E1AD;

        }
        */
        aside{
            border-radius: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: var(--cor1);
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
        }
        aside > ul{
            list-style-position: inside;
            columns: 2;
        }

        

       /* 
       #segundalista{
            margin: -161px 10px 10px 500px;
            
        }
        */
        
      
       
       s{
           text-decoration: none;
           font-weight: bold;
           color: #1A5D38;
       }
       .fade{
           
           background-image: linear-gradient(to right, var(--cor1), transparent);
           text-indent: 8px;
       }
       
       
      .linksexternos{
          text-decoration: none;
          color: var(--cor4);
          font-weight: bold;
      }
      .linksexternos:hover{
          text-decoration: underline;
      }
      #irinaimg{
          width: 100%;
      }
      
      footer{
          background-color: var(--cor4);
          text-align: center;
          margin: auto;
          color: white;
      }
   